<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <packageSources>

    <clear />

    <add key="public" value="https://api.nuget.org/v3/index.json" />

    <add key="CloudPillarFeed" value="https://pkgs.dev.azure.com/BiosenseWebsterIs/CloudPillar/_packaging/CloudPillarFeed/nuget/v3/index.json" />

  </packageSources>

  <packageSourceCredentials>

    <CloudPillarFeed>

      <add key="Username" value="CloudPillarFeed" />

      <add key="ClearTextPassword" value="76i7a3iaqosc7mt6g5nl244rls7lbbag7dzt4rbe545hlm2wyqxa" />

    </CloudPillarFeed>

  </packageSourceCredentials>

</configuration>